In [118]:
import pandas as pd
import pymongo
from pymongo import MongoClient

In [119]:
#Veri Setinin Okunması
df = pd.read_csv("elektriktuketim_data.csv",sep=",", 
                 names=["date","hour","store_id","imwh"])
df.head()

         date  hour  store_id       imwh
0  2022-06-05    19      2007  120.82733
1  2022-06-05     7      6193   56.28347
2  2022-06-05    10      1012  104.77353
3  2022-06-05     6      1096   89.07027
4  2022-06-05    11      3604  152.54100

In [120]:
#Filtreleme İşlemleri

In [121]:
#Mağaza id'sine göre mağaza verilerinin alınması,
magaza_282_data =  df[df["store_id"] == 282]
magaza_282_data

           date  hour  store_id      imwh
13   2022-06-05    22       282  45.50200
14   2022-06-05     4       282  30.33747
18   2022-06-05    11       282  53.77514
30   2022-06-05    14       282  53.49546
40   2022-06-05    20       282  56.56680
53   2022-06-05    16       282  52.19456
84   2022-06-05    21       282  52.07381
86   2022-06-05    12       282  55.32460
97   2022-06-05    10       282  55.88620
98   2022-06-05     0       282  35.50907
105  2022-06-05     2       282  30.18487
118  2022-06-05    15       282  52.93817
130  2022-06-05     3       282  29.05380
177  2022-06-05    19       282  55.32580
186  2022-06-05    23       282  33.87973
196  2022-06-05    18       282  51.56978
204  2022-06-05     6       282  29.86673
206  2022-06-05     9       282  52.37020
208  2022-06-05     5       282  30.65119
214  2022-06-05     8       282  54.72253
220  2022-06-05     7       282  47.21779
221  2022-06-05     1       282  30.98254
223  2022-06-05    17       282  53.11455
224  2022-06-05    13       282  53.77840

In [122]:
#Saate göre sıralama
magaza_282_data = magaza_282_data.sort_values(by="hour")
magaza_282_data

           date  hour  store_id      imwh
98   2022-06-05     0       282  35.50907
221  2022-06-05     1       282  30.98254
105  2022-06-05     2       282  30.18487
130  2022-06-05     3       282  29.05380
14   2022-06-05     4       282  30.33747
208  2022-06-05     5       282  30.65119
204  2022-06-05     6       282  29.86673
220  2022-06-05     7       282  47.21779
214  2022-06-05     8       282  54.72253
206  2022-06-05     9       282  52.37020
97   2022-06-05    10       282  55.88620
18   2022-06-05    11       282  53.77514
86   2022-06-05    12       282  55.32460
224  2022-06-05    13       282  53.77840
30   2022-06-05    14       282  53.49546
118  2022-06-05    15       282  52.93817
53   2022-06-05    16       282  52.19456
223  2022-06-05    17       282  53.11455
196  2022-06-05    18       282  51.56978
177  2022-06-05    19       282  55.32580
40   2022-06-05    20       282  56.56680
84   2022-06-05    21       282  52.07381
13   2022-06-05    22       282  45.50200
186  2022-06-05    23       282  33.87973

In [123]:
#Büyüktür Küçüktür İşlemleri
threshold_data = magaza_282_data[magaza_282_data["imwh"] > 55]
threshold_data

           date  hour  store_id     imwh
97   2022-06-05    10       282  55.8862
86   2022-06-05    12       282  55.3246
177  2022-06-05    19       282  55.3258
40   2022-06-05    20       282  56.5668

In [124]:
#Mağaza tüketim verilerini analiz eder ve bu verileri eşik değerine göre filtreler
def getThresholds(store_id, upper_limit):
    magaza_data = df[df["store_id"] == store_id]
    magaza_data = magaza_data.sort_values(by="hour")
    threshold_data = magaza_data[magaza_data["imwh"] > upper_limit]
    return threshold_data

In [125]:
store_id = 282
threshold_value = 55
result = getThresholds(store_id, threshold_value)
result

           date  hour  store_id     imwh
97   2022-06-05    10       282  55.8862
86   2022-06-05    12       282  55.3246
177  2022-06-05    19       282  55.3258
40   2022-06-05    20       282  56.5668

In [126]:
client = MongoClient("mongodb+srv://pelsing:1302PG@cluster0.edghuss.mongodb.net/?retryWrites=true&w=majority")

In [127]:
db = client['internship']

In [128]:
collection = db["mongodb"]

In [129]:
records = result.to_dict("records")

In [130]:
collection.insert_many(records)